body {
  border-top: 4px solid #666A73;
}

p {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #666a73;
}

div.toolbar, div.sub-toolbar{
  border-bottom: 1px solid #DADADA;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #666a73;
}

div.toolbar {
  font-size: 48px;
  text-align: center;
  padding: 16px;
}

div.sub-toolbar {
  padding: 16px;
  color: #666a73;
  display: flex;
  justify-content: space-evenly;
}

div.selector {
  padding: 8px;
  display: flex;
  justify-content: center;
}

div.selector p {
  font-weight: bold;
}

div#week-view {
  display: flex;
}

div.weekCircle {
  padding: 8px;
  border-radius: 50%;
  border: 2px solid #00A2FF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #666a73;
}
