body {
  border-top: 4px solid #666A73;
}

p {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #666a73;
}

div.toolbar, div.sub-toolbar{
  border-bottom: 1px solid #DADADA;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #666a73;
}

div.toolbar {
  font-size: 48px;
  text-align: center;
  padding: 16px;
}

div.sub-toolbar {
  padding: 16px;
  color: #666a73;
  display: flex;
  justify-content: space-evenly;
}

#timer {
  color: #00A2FF;
}

div.selector {
  padding: 8px;
  display: flex;
  justify-content: center;
}

p.help-message {
  font-weight: bold;
}

div.message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 16px;
}

div#week-view {
  display: flex;
  padding: 16px;
}

div.weekCircle {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  border: 4px solid #00A2FF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #666a73;
  margin: 16px;
}

.weekCircle h6 {
  color: #A8A8A8;
}

.time-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  padding: 8px;
  border: 1px solid #00A2FF;
  border-radius: 5px;
  width: 45%;
  margin: 8px auto;
}

div.muted {
  border: 1px solid #A8A8A8;
  color: #A8A8A8;
}

.time-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}